{% extends 'basic.html' %}

{% block body%} 

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">SOLUTIONS</h1>
            
            </div>

            <!-- Content Row -->
            

            <!-- Content Row -->

            <div class="row">
              <!-- Area Chart -->
              <div class="col-xl-12">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                  >
                    <h2 class="m-0 font-weight-bold text-primary">
                        HEADING FOR SOLUTIONS
                    </h2>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <!-- write solution content here -->
                    <h3>Honeypots</h3>
                    <ul>
                      <li>A cybersecurity tool called a honeypot is made to look like a legitimate system or network in order to draw in and capture malevolent individuals, often known as attackers or intruders.</li>
                      <li> The goal is to draw potential attackers in by creating an atmosphere that appears susceptible or alluring, which will enable security experts to research and comprehend their strategies, methods, and practices.</li>
                      <li> The overall cybersecurity defenses can then be strengthened with the usage of this information.</li>
                    </ul>

                    <h3>Updates and Software Patching</h3>
                    <ul>
                    <li>Cybercriminals frequently take advantage of software flaws to breach networks or obtain unauthorized access.</li>
                    <li>Vendors of software frequently find flaws in their products and patch or upgrade them.</li>
                    <li>Risk Reduction</li>
                    <li>Malware Prevention</li>
                    <li>Data Protection</li>
                    <li>Performance and Stability</li>
                  </ul>
                    
                    <h3>Blocking IP addresses</h3>
                    <ul>
                    <li>One popular cybersecurity technique for strengthening a network's security posture is IP address blocking. </li>
                    <li>This method entails blocking communication with particular IP addresses, usually those connected to known risks or malicious activity. </li>
                      </ul>

                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->

        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    {% endblock %}
