<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>CYBER JAGAUR - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link
      href="/media/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="/media/css/sb-admin-2.min.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/dashboard"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">CYBER JAGAUR</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a
          >
          
          <a class="nav-link" href="/prediction">
            <i class="fas fa-fw fa-cog"></i>
            <span>Prediction</span>
          </a>
          <a class="nav-link active" href="/user-awareness">
            <i class="fas fa-fw fa-cog"></i>
            <span>User Awareness</span>
          </a>
          <a class="nav-link " href="/solutions">
            <i class="fas fa-fw fa-cog"></i>
            <span>Solutions</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
         
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
                  <!-- Topbar Search -->
                  <div
                  class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                  <div class="input-group">
                      <div class="font-weight-bold" style="color: black;">
                          <h4><b>
                      <span>No. of Users : </span><span>{{no_of_users}}</span></b>
                      </h4>
                      
                      </div>
                  </div>
              </div>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - Messages -->
              

              <div class=" d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <ul class="navbar-nav ml-auto">


                <div class="topbar-divider d-none d-sm-block"></div>
                {% if request.user.is_authenticated %}
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                            {{ request.user.first_name }}
                            {{request.user.last_name}}

                        </span>
                        <img class="img-profile rounded-circle"
                            src="/media/img/undraw_profile.svg">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                       
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout" >
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
                {% endif %}

                

            </ul>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">USER AWARENESS</h1>
            </div>

            <!-- Content Row -->

            <!-- Content Row -->

            <div class="row">
              <!-- Area Chart -->
              <div class="col-xl-12">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                  >
                    <h2 class="m-0 font-weight-bold text-primary">
                      Types of Cyber Attacks
                    </h2>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <h2>What is a Cyber Attack?</h2>
                    <p>
                      A cyber attack is an attempt by cybercriminals, hackers or
                      other digital adversaries to access a computer network or
                      system, usually for the purpose of altering, stealing,
                      destroying or exposing information. Cyberattacks can
                      target a wide range of victims from individual users to
                      enterprises or even governments. When targeting businesses
                      or other organizations, the hacker’s goal is usually to
                      access sensitive and valuable company resources, such as
                      intellectual property (IP), customer data or payment
                      details.
                    </p>
                    <h2>What are the 5 most common types of cyber attacks?</h2>
                    <ol style="font-size: 20px">
                      <li>Malware</li>
                      <li>Denial-of-Service Attacks</li>
                      <li>Phishing</li>
                      <li>Spoofing</li>
                      <li>Identity-Based Attacks</li>
                    </ol>
                    <h2>Malware</h2>
                    <p>
                      Malware— or malicious software — is any program or code
                      that is created with the intent to do harm to a computer,
                      network or server. Malware is the most common type of
                      cyberattack, mostly because this term encompasses many
                      subsets such as ransomware, trojans, spyware, viruses,
                      worms, keyloggers, bots, cryptojacking, and any other type
                      of malware attack that leverages software in a malicious
                      way.
                    </p>
                    <h2>Denial-of-Service</h2>
                    <p>
                      A Denial-of-Service (DoS) attack is a malicious, targeted
                      attack that floods a network with false requests in order
                      to disrupt business operations. In a DoS attack, users are
                      unable to perform routine and necessary tasks, such as
                      accessing email, websites, online accounts or other
                      resources that are operated by a compromised computer or
                      network. While most DoS attacks do not result in lost data
                      and are typically resolved without paying a ransom, they
                      cost the organization time, money and other resources in
                      order to restore critical business operations.
                    </p>
                    <h2>phishing</h2>
                    <p>
                      phishing is a type of cyberattack that uses email, SMS,
                      phone, social media, and social engineering techniques to
                      entice a victim to share sensitive information — such as
                      passwords or account numbers — or to download a malicious
                      file that will install viruses on their computer or phone.
                    </p>
                    <p>
                      A typical phishing attack starts with a threat actor
                      sending mass amounts of emails in hopes of getting anyone
                      to click on malicious links. These threat actors, whether
                      an individual criminal or a nation-state, craft such
                      messages to appear to be legitimate. A phishing email can
                      appear to be from your bank, employer or boss, or use
                      techniques to coerce information out of you by pretending,
                      for example, to be a government agency. The intent could
                      be to deploy ransomware, to steal existing account
                      credentials, to acquire enough information to open a new
                      fraudulent account, or simply to compromise an endpoint. A
                      single click on a malicious phishing link has the
                      potential to create any of these problems.
                    </p>
                    <h2>Spoofing</h2>
                    <p>
                      Spoofing is a technique through which a cybercriminal
                      disguises themselves as a known or trusted source. In so
                      doing, the adversary is able to engage with the target and
                      access their systems or devices with the ultimate goal of
                      stealing information, extorting money or installing
                      malware or other harmful software on the device.
                    </p>
                    <p>
                      Spoofing techniques vary based on the type of attack. For
                      example, in email spoofing, the adversary can hack an
                      unsecured mail server in order to hide their true
                      identity. In a MitM attack, an adversary can create a
                      Wi-Fi access point in order to intercept any web activity
                      and gather personal information. There are also relatively
                      simple or non-technical spoofing techniques, such as
                      altering the “From” field in an email address.
                    </p>
                    <p>
                      It is fairly common for attackers to spoof multiple points
                      of contact, such as an email address and website, in order
                      to initiate the communication and carry out the actual
                      attack. For example, cybercriminals may spoof an email
                      address in order to engage a potential victim and then use
                      a spoofed website to capture the user’s login credentials
                      or other information. Familiarizing yourself with the
                      different types of spoofing attacks is critical in
                      understanding how spoofing works.
                    </p>
                    <h2>Identity-Based Attacks</h2>
                    <p>
                      CrowdStrike's findings show that 80% of all breaches use
                      compromised identities and can take up to 250 days to
                      identify. Identity-driven attacks are extremely hard to
                      detect. When a valid user's credentials have been
                      compromised and an adversary is masquerading as that user,
                      it is often very difficult to differentiate between the
                      user’s typical behavior and that of the hacker using
                      traditional security measures and tools.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Area Chart -->
              <div class="col-xl-12">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                  >
                    <h2 class="m-0 font-weight-bold text-primary">
                        Ways to mitigate cyber risks
                    </h2>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    
                    <h2>Keep Your Systems and Software Updated</h2>
                    <p>
                      Software and system updates highly impact your cyber
                      security and digital safety. This is because they not only
                      add new features but also fix bugs and help patch security
                      flaws and vulnerabilities that can be exploited.
                    </p>
                    <p>
                      Malicious hackers write code that they use to exploit the
                      vulnerabilities. Most of the time, this code is packaged
                      in the form of malware which can affect your entire
                      system. So, make sure you use a patch management system to
                      automatically manage all updates and uphold information
                      security.
                    </p>

                    <h2>Install Firewalls</h2>
                    <p>
                      Cyber security threats are becoming more sophisticated,
                      and everyday hackers come up with new ways of accessing
                      data. So, you should defend your networks from cyber
                      attacks by installing firewalls. A reliable system will
                      effectively protect you from brute attacks or prevent
                      security incidents from causing irreversible damage.
                    </p>
                    <p>
                      In addition to this, firewalls monitor your network
                      traffic to identify any suspicious activity that could
                      compromise your data integrity. They also prevent complex
                      spyware from gaining access to your systems and promote
                      data privacy.
                    </p>
                    <p>
                      Be very careful when choosing the right firewall for your
                      organization. Go for a system that gives you full security
                      control and visibility of your application and networks.
                      It should also have protection and prevention capabilities
                      as well as a streamlined security infrastructure.
                    </p>

                    <h2>Encrypt Your Data and Create Backups</h2>
                    <p>
                      Make sure all your sensitive data is encrypted. Saving
                      your data in normal-text format only makes it easy for
                      hackers to access. Data encryption, on the other hand,
                      limits data access to parties that have the encryption
                      key. It also ensures that even when unauthorized parties
                      gain access to the data, they can't read it. Some data
                      encryption software even lets you know when other people
                      try to alter or tamper with the information.
                    </p>
                    <p>
                      You should also conduct regular backups for your important
                      information. Sometimes cybersecurity breaches can result
                      in data loss. When this happens, and you don't have a
                      reliable and secure backup, it could result in operational
                      disruptions that could cause your organization a lot of
                      lost revenue. One of the most effective data backup
                      strategies is the 3-2-1 rule. Based on this strategy, you
                      should have at least 3 copies of your data stored. 2 of
                      them should be stored on different media, and one should
                      be in an offsite location.
                    </p>

                    <h2>Use Strong Passwords</h2>
                    <p>
                      Password cracking technology has greatly advanced, and
                      simple passwords don't cut it anymore. Instead, you need
                      to use complex passwords and deploy multi-factor
                      authentication strategies to discourage cybercrime in your
                      organization. You should also discourage password sharing
                      among employees so that even if one desktop is hacked, the
                      rest remain secure.
                    </p>

                    <p>
                      Some of the security risk mitigation strategies you should
                      implement when it comes to passwords include;
                    </p>
                    <ol>
                      <li>
                        All passwords should contain at least 8 characters.
                      </li>
                      <li>They should contain alphanumeric characters.</li>
                      <li>They shouldn't contain any personal information.</li>
                      <li>They should be unique and never used before.</li>
                      <li>
                        They should ideally not have any correctly spelled
                        words.
                      </li>
                    </ol>

                    <h2>Conduct Regular Employee Training</h2>
                    <p>
                      One of the common ways malicious hackers gain access to
                      your database is through phishing emails sent to your
                      employees. In fact, statistics show that over 3.4 billion
                      phishing emails are sent globally. These emails contain
                      malicious malware in the form of links that give hackers
                      access to user data, including login credentials.
                    </p>
                    <p>
                      Phishing emails are often hard to detect as they seem
                      legitimate. For instance, a hacker may send an email
                      impersonating leaders in the organization asking for
                      personal details. Without proper training, the employee
                      may end up divulging this information. This is why it's
                      vital that you conduct cybersecurity awareness training.
                      Let your employees know of the main forms of cybersecurity
                      attacks and the best ways to prevent them.
                    </p>

                    <h2>Assess and Monitor Your Vendors</h2>
                    <p>
                      Chances are that your cyber security is highly dependent
                      on third-party vendors, which is why you can’t afford to
                      ignore vendor risk management. This will help you mitigate
                      third-party risk instead of solely relying on incident
                      response.
                    </p>

                    <p>Your main focus should be on:</p>
                    <ul>
                      <li>
                        Cybersecurity risk: onboard vendors using the right
                        strategies and monitor them throughout your
                        relationship.
                      </li>
                      <li>
                        Legal, regulatory, and compliance risk: ascertain that
                        the vendor will not impact your compliance with
                        regulations, agreements, and local legislation.
                      </li>
                      <li>
                        Operational risk: if the vendor is a critical aspect of
                        your organization, ensure that they won't disrupt your
                        operations.
                      </li>
                      <li>
                        Strategic risk: ensure the vendor will not impact your
                        ability to meet your organizational objectives.
                      </li>
                    </ul>

                    <h2>Reduce Your Attack Surface</h2>
                    <p>There are 3 main types of attack surfaces:</p>
                    <ul>
                      <li>
                        Physical attack surface: this includes organizational
                        assets that a hacker can get if they have physical
                        access to your premises.
                      </li>
                      <li>
                        Digital attack surface: these are assets that are
                        accessible through the internet and live outside a
                        firewall. Digital attack surfaces include known assets
                        such as your corporate servers/ operating system,
                        unknown assets such as a forgotten website, and rogue
                        assets such as apps that impersonate your company.
                      </li>
                      <li>
                        Social engineering attack surface: this is one of the
                        most critical yet often overlooked attack surfaces. In
                        this case, the hackers exploit human psychology and
                        manipulate your employees into divulging sensitive
                        information.
                      </li>
                    </ul>

                    <h2>Pay Close Attention to Physical Security</h2>
                    <p>
                      Most organizational cyber risk management policies focus
                      on the digital aspect of cyber risks and entirely neglect
                      their physical premises. Conduct a security assessment and
                      determine whether your critical infrastructure is safe
                      from security breaches. You should also analyze your data
                      protection policy and decide whether or not it has data
                      disposal strategies.
                    </p>
                    <p>
                      Think of a scenario where your online systems are safe
                      from cybercriminals, but you experience a breach because
                      someone broke into your offices and rummaged through your
                      file cabinets. That would be tragic! There are even other
                      instances where janitors go through the garbage and obtain
                      customer and employee personal information.
                    </p>

                    <h2>Create A Secure Cybersecurity Policy</h2>
                    <p>
                      Go through your existing policies and identify any
                      loopholes they may have. Some of the guidelines you should
                      have in place include;
                    </p>
                    <ul>
                      <li>
                        Disaster recovery: If a breach occurs, a disaster
                        recovery plan ensures that your employee and IT teams
                        know the next course of action. It's aimed at reducing
                        the amount of time that you are offline, thereby
                        ensuring that your operations resume as soon as
                        possible.
                      </li>
                      <li>
                        Access control/management: this policy highlights the
                        parties that can access sensitive information, reducing
                        the risk of unauthorized access. Data mishandling has
                        both financial and legal consequences, so make sure your
                        access management policy specifies which stakeholders
                        are allowed access to what and under which circumstances
                        they can share this information.
                      </li>
                      <li>
                        Security testing: the policy should state the frequency
                        of your cybersecurity tests. This allows you to uncover
                        vulnerabilities before it’s too late. Some of the
                        security tests that you should conduct include;
                        vulnerability scanning, security posture assessment,
                        penetration testing, ethical hacking, cybersecurity
                        assessments, etc.
                      </li>
                      <li>
                        Incident response plan: this is documentation of the
                        steps and procedures that should be implemented in case
                        of a breach. It also highlights the responsibility of
                        key information security players and reduces your
                        organization's response time.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->

        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/media/vendor/jquery/jquery.min.js"></script>
    <script src="/media/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/media/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/media/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/media/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/media/js/demo/chart-area-demo.js"></script>
    <script src="/media/js/demo/chart-pie-demo.js"></script>
  </body>
</html>
